<template>
  <div class="container" :id="'header'+config.id">
    <div class="big_wrap">
      <a class="left" href="https://www.youtube.com/">
        <img class="img" :src="img" alt />
      </a>

      <div class="right">
        <div class="search" @click="openLightItem()">
          <div class="icon"></div>
        </div>
        <a class="member" href="javascript:void(0)">
          <div class="icon"></div>
        </a>
        <div class="cart_wrap">
          <div class="icon"></div>
          <div class="num">3</div>
        </div>
        <div class="lang_wrap">
          <div class="text" @click="openLangItem()">{{ select }}</div>
          <div class="lang_drop" :class="{active : isLangActive}">
            <a
              class="link"
              href="javascript:void(0)"
              v-for="(index,key) in lang"
              :key="key"
              @click="selectLang(index)"
            >{{index}}</a>
          </div>
        </div>
      </div>
      <div class="nav_toggle" @click="openNavItem()" :class="{ active : isHamActive}">
        <div class="hamburger">
          <span class="line line-1" style></span>
          <span class="line line-2" style></span>
          <span class="line line-3" style></span>
        </div>
      </div>
    </div>

    <div class="nav_wrap" :class="{ active : isNavActive}">
      <div class="link_item">
        <a class="link" href="javascript:void(0)">關於我們</a>
      </div>
      <div class="drop_wrap" v-for="(item , key ) in title" :key="key">
        <div class="drop_item">
          <a class="link" href="https://www.youtube.com/">{{item.name}}</a>
          <div class="icon" @click="openOneItem(item)" :class="{ active : isIconActive == item.id}"></div>
        </div>
        <nav class="nest_item">
          <ul
            class="one_item"
            :class="{ active :isOneActive == item.id}"
            @mouseleave="moveLeaveOne()"
          >
            <li class="back" @click="openOneItem(item)">
              <span>回上一層</span>
            </li>
            <li v-for="(item ,key) in  item.one" :key="key">
              <div class="hassub">
                <a href="{href}">{{item.name}}</a>
                <div class="more" @click="openTwoItem(item)"></div>
              </div>
              <ul
                class="sec_item"
                :class="{ active :isTwoActive == item.id }"
                @mouseleave="moveLeaveTwo()"
              >
                <li class="back" @click="openTwoItem(item)">
                  <span>回上一層</span>
                </li>
                <li v-for="(item,key) in item.second" :key="key">
                  <a href="{href}">{{item.name}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="link_item">
        <a class="link" href="javascript:void(0)">下載專區</a>
      </div>
      <div class="link_item">
        <a class="link" href="javascript:void(0)">問與答</a>
      </div>
      <div class="link_item">
        <a class="link" href="javascript:void(0)">聯絡我們</a>
      </div>
      <div class="lang_wrap">
        <div class="text" @click="openLangItem()">{{ select }}</div>
        <div class="lang_drop" :class="{active : isLangActive}">
          <a
            class="link"
            href="javascript:void(0)"
            v-for="(index,key) in lang"
            :key="key"
            @click="selectLang(index)"
          >{{index}}</a>
        </div>
      </div>
    </div>
    <div class="lightbox_wrap" :class="{ active: isLightActive }">
      <div class="item">
        <div class="close" @click=" openLightItem()"></div>
        <div class="box">
          <form>
            <input type="text" class="input_box" placeholder="Search / 產品搜尋" name="keyword" />
            <input type="hidden" name="all" value="1" />
            <button>
              <div class="icon"></div>
            </button>
          </form>
        </div>
      </div>
    </div>
    <!-- <div class="copyright">{copyright}</div> -->
  </div>
</template>

<script>
export default {
  props: {
    config: {
      type: Object,
    },
  },
  data() {
    return {
      img: require('@/assets/img/logo.png'),
      lang: ['中文', 'English', '日文', '韓文'],
      select: '中文',
      title: [
        {
          name: '最新消息',
          id: 0,
          one: [
            {
              name: '活動消息',
              id: 0,
              second: [
                {
                  name: '洗面乳',
                },
              ],
            },
            {
              name: '活動條件',
              id: 1,
              second: [
                {
                  name: '洗髮精',
                },
              ],
            },
          ],
        },
        {
          name: '產品介紹',
          id: 1,
          one: [
            {
              name: '新產品',
              id: 2,
              second: [
                {
                  name: '薯條',
                },
              ],
            },
            {
              name: '優惠產品',
              id: 3,
              second: [
                {
                  name: '炸雞',
                },
              ],
            },
          ],
        },
        {
          name: '相簿',
          id: 2,
          one: [
            {
              name: '醜照',
              id: 4,
              second: [
                {
                  name: '醜',
                },
              ],
            },
            {
              name: '美照',
              id: 5,
              second: [
                {
                  name: '正妹',
                },
              ],
            },
          ],
        },
      ],
      isOneActive: null,
      isTwoActive: null,
      isIconActive: null,
      isLangActive: false,
      isNavActive: null,
      isHamActive: false,
      isLightActive: false,
    }
  },
  methods: {
    openLangItem() {
      this.isLangActive = !this.isLangActive
    },
    openOneItem(item) {
      if (this.isOneActive == item.id) {
        this.isOneActive = null
        this.isIconActive = null
      } else {
        this.isOneActive = item.id
        this.isIconActive = item.id
        this.isTwoActive = null
      }
    },
    openTwoItem(item) {
      if (this.isTwoActive == item.id) {
        this.isTwoActive = null
      } else {
        this.isTwoActive = item.id
      }
    },
    openNavItem() {
      this.isHamActive = !this.isHamActive
      this.isNavActive = !this.isNavActive
    },
    openLightItem() {
      this.isLightActive = !this.isLightActive
    },
    selectLang(index) {
      this.select = index
      this.isLangActive = !this.isLangActive
    },
    moveLeaveOne() {
      if (window.innerWidth > 1100) {
        this.isOneActive = null
        this.isIconActive = null
      }
    },
    moveLeaveTwo() {
      if (window.innerWidth > 1100) {
        this.isTwoActive = null
        this.isIconActive = null
      }
    },
  },
  mounted() {},
}
</script>

<style lang="scss" scoped>
.container {
  position: fixed;
  width: 100%;
  height: 6.7vw;
  left: 0;
  top: 0;
  z-index: 5;
  .big_wrap {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 4.79vw;
    .left {
      width: 9.63vw;
      z-index: 1;
      .img {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
        object-position: center;
      }
    }
    .right {
      position: absolute;
      right: 4.79vw;
      display: flex;
      align-items: center;
      z-index: 1;
      .search {
        position: relative;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        .icon {
          width: 20px;
          height: 20px;
          -webkit-mask: url('@/assets/img/glass.svg') no-repeat;
          -webkit-mask-size: contain;
          background: #d0d0d0;
        }
      }
      .member {
        position: relative;
        width: 48px;
        height: 48px;
        margin-left: 1.875vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1.5px solid #636363;
        border-radius: 50%;
        cursor: pointer;
        .icon {
          width: 20px;
          height: 20px;
          -webkit-mask: url('@/assets/img/member.svg') no-repeat;
          -webkit-mask-size: contain;
          background: #d0d0d0;
        }
      }
      .cart_wrap {
        position: relative;
        width: 48px;
        height: 48px;
        margin-left: 1.09375vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1.5px solid #636363;
        border-radius: 50%;
        cursor: pointer;
        .icon {
          width: 26px;
          height: 22px;
          -webkit-mask: url('@/assets/img/cart.svg') no-repeat;
          -webkit-mask-size: contain;
          background: #d0d0d0;
        }
        .num {
          position: absolute;
          width: 30px;
          height: 30px;
          right: 0px;
          top: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ffffff;
          border-radius: 50%;
          background: #7d5141;
          transform: translate(50%, -50%);
          font-size: 13px;
        }
      }
      .lang_wrap {
        position: relative;
        margin-left: 2.45vw;
        cursor: pointer;
        .text {
          width: 7.8125vw;
          height: 40px;
          padding: 0 0.78125vw 0 0;
          display: flex;
          align-items: center;
          font-size: calc(20 / 1920 * 100vw);
          font-weight: bold;
          color: #000000;
          &::before {
            content: '';
            position: absolute;
            width: 0.78125vw;
            height: 0.78125vw;
            right: 3px;
            -webkit-mask: url('@/assets/img/navigation.png') no-repeat;
            -webkit-mask-size: contain;
            background: #000000;
            transform: rotate(90deg);
          }
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            bottom: 0;
            border-bottom: 3px solid #000000;
          }
        }
        .lang_drop {
          position: absolute;
          width: 100%;
          top: 50px;
          left: 0;
          background: #ffffff;
          border: 1px solid #e5e4e4;
          transition: 0.5s ease;
          opacity: 0;
          pointer-events: none;
          transform: translateY(30px);
          &.active {
            opacity: 1;
            pointer-events: initial;
            transition: 0.5 ease;
            transform: translateY(0);
          }
          .link {
            position: relative;
            padding: 0 1.04vw;
            display: block;
            font-size: calc(16 / 1920 * 100vw);
            font-weight: bold;
            line-height: 48px;
            color: #858585;
            text-decoration: none;
            &:last-child {
              &::after {
                display: none;
              }
            }
            &::after {
              content: '';
              width: 100%;
              display: block;
              border-bottom: 1px solid #858585;
            }
          }
        }
      }
    }
  }

  // menu
  .nav_wrap {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    padding-left: 26.45vw;
    padding-right: 25.625vw;
    .link {
      position: relative;
      display: inline-block;
      line-height: 6.7vw;
      font-size: calc(20 / 1920 * 100vw);
      color: #000000;
      text-decoration: none;
      transition: 0.5s ease;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      &:hover {
        color: #7d5141;
        &::after {
          transform: scaleX(1);
        }
      }
      &:after {
        content: '';
        position: absolute;
        width: 1.71875vw;
        height: 0.208vw;
        left: 0;
        top: 68%;
        transform: scaleX(0);
        transform-origin: left top;
        transition: 0.5s ease;
        background: #7d5141;
      }
    }
    .link_item {
      margin-right: 2.604vw;
    }
  }
  // 多層
  .drop_wrap {
    position: relative;
    margin-right: 1.5625vw;
    // title
    .drop_item {
      display: flex;
      align-items: center;
      .link {
        margin-right: 5px;
      }
      .icon {
        position: relative;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        pointer-events: initial;
        &.active {
          &::after {
            transform: rotate(270deg);
            transition: 0.5s ease;
          }
        }
        &:after {
          content: '';
          position: absolute;
          width: 15px;
          height: 15px;
          -webkit-mask: url('~assets/img/navigation.png') no-repeat;
          -webkit-mask-size: contain;
          background: #000000;
          transform: rotate(90deg);
          transition: 0.5s ease;
        }
      }
    }
    // 殼
    .nest_item {
      position: absolute;
      left: 0;
      top: 6.7vw;
    }
  }
  .one_item {
    position: absolute;
    width: 14.58vw;
    height: auto;
    top: 0;
    background: #ffffff;
    box-shadow: #64646f33 0px 7px 29px 0px;
    transition: 0.5s ease;
    transform: translateY(30px);
    opacity: 0;
    pointer-events: none;
    &.active {
      opacity: 1;
      transition: 0.5s ease;
      transform: translateY(0px);
      pointer-events: initial;
      z-index: 1;
    }
    li {
      display: block;
      .hassub {
        position: relative;
        display: flex;
        align-items: center;
        .more {
          position: absolute;
          width: 30px;
          height: 100%;
          right: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          &:after {
            content: '';
            position: relative;
            width: 10px;
            height: 10px;
            -webkit-mask: url('~assets/img/plus.svg') no-repeat;
            -webkit-mask-size: contain;
            background: #d0d0d0;
          }
        }
      }
      a {
        display: block;
        width: 100%;
        padding: 0 0 0 0.83vw;
        text-decoration: none;
        color: #000000;
        font-size: calc(16 / 1920 * 100vw);
        line-height: 2.86vw;
        cursor: pointer;
      }
    }
  }
  .sec_item {
    position: absolute;
    width: 14.58vw;
    height: auto;
    background: #ffffff;
    left: 14.58vw;
    top: 0;
    box-shadow: #64646f33 0px 7px 29px 0px;
    transition: 0.5s ease;
    transform: translateY(30px);
    opacity: 0;
    pointer-events: none;
    &.active {
      opacity: 1;
      transition: 0.5s ease;
      transform: translateY(0px);
      pointer-events: initial;
      z-index: 2;
    }
  }
  .lightbox_wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
    z-index: 10;
    &.active {
      opacity: 1;
      transition: 0.5s ease;
      pointer-events: initial;
    }
    .item {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .close {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 30px;
        right: 30px;
        -webkit-mask: url('~/assets/img/close.svg') no-repeat;
        -webkit-mask-size: contain;
        background: #d0d0d0;
        cursor: pointer;
      }
      .box {
        position: relative;
        width: 70%;
        display: flex;
        justify-content: space-between;
        form {
          width: 100%;
          input {
            width: 100%;
            height: 100px;
            display: block;
            font-size: calc(48 / 1920 * 100vw);
            background: transparent;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid #e5e4e4;
            color: white;
            outline: none;
          }
          button {
            position: absolute;
            top: 50%;
            right: 25px;
            transform: translateY(-50%);
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            .icon {
              width: 27px;
              height: 27px;
              -webkit-mask: url('@/assets/img/glass.svg') no-repeat;
              -webkit-mask-size: contain;
              background: #d0d0d0;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1500px) {
  .container {
    .big_wrap {
      .right {
        .search {
          width: 40px;
          height: 40px;
          .icon {
            width: 18px;
            height: 18px;
          }
        }
        .member {
          width: 40px;
          height: 40px;

          .icon {
            width: 18px;
            height: 18px;
          }
        }
        .cart_wrap {
          width: 40px;
          height: 40px;

          .icon {
            width: 20px;
            height: 16px;
          }
          .num {
            position: absolute;
            width: 24px;
            height: 24px;
          }
        }
        .lang_wrap {
          .text {
            font-size: calc(20 / 1920 * 100vw);
          }
          .lang_drop {
            top: 20px;
            .link {
              position: relative;
              font-size: calc(16 / 1920 * 100vw);
              line-height: 40px;
            }
          }
        }
      }
    }
    .nav_wrap {
      padding: 0 21.625vw 0 23.45vw;
    }
    .drop_wrap {
      .drop_item {
        .icon {
          width: 20px;
          height: 20px;
          &.active {
            &::after {
              top: 5px;
            }
          }
          &::after {
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .container {
    .big_wrap {
      height: 60px;
      padding: 0 40px;
      .left {
        width: 125px;
        z-index: 2;
      }
      .right {
        right: 60px;
        .search {
          width: 40px;
          height: 40px;
        }
        .member {
          width: 40px;
          height: 40px;
          margin-left: 10px;
        }
        .cart_wrap {
          width: 40px;
          height: 40px;
          margin-left: 10px;
          .num {
            width: 20px;
            height: 20px;
            transform: translate(40%, -50%);
          }
        }
      }
      .nav_toggle {
        position: absolute;
        width: 60px;
        height: 60px;
        margin-left: 20px;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 2;
        &.active {
          .hamburger {
            .line {
              &:first-child {
                transform: translate(0, 10px) rotate(45deg);
              }
              &:nth-child(2) {
                opacity: 0;
              }
              &:last-child {
                transform: translate(0, -10px) rotate(-45deg);
              }
            }
          }
        }
        .hamburger {
          width: 30px;
          height: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transition: transform 0.5s ease, height 0.5s ease;
          .line {
            display: block;
            width: 23px;
            height: 2px;
            background-color: #636363;
            margin-bottom: 8px;
            transition: all 0.5s ease;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .nav_wrap {
      position: absolute;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      align-items: initial;
      top: 0;
      padding: 60px 0 0;
      background: #ffffff;
      opacity: 0;
      pointer-events: none;
      transform: translateY(-30px);
      transition: 0.5s ease;
      &.active {
        opacity: 1;
        pointer-events: initial;
        transform: translateY(0px);
        transition: 0.5s ease;
        z-index: 1;
      }
      .link {
        width: 100%;
        padding: 0 40px;
        line-height: 51px;
        font-size: 16px;
        &::after {
          width: calc(100% - 80px);
          height: 1px;
          left: 40px;
          top: auto;
          bottom: 0px;
          background: #d0d0d0;
          transform: scaleX(1);
        }
      }
      .link_item {
        margin-right: 0;
      }
    }
    .drop_wrap {
      position: relative;
      margin-right: 0;
      .drop_item {
        .icon {
          position: absolute;
          right: 40px;
        }
      }
      .nest_item {
        position: fixed;
        top: 0;
        z-index: 1;
      }
    }

    .one_item {
      position: absolute;
      width: 100vw;
      height: 100vh;
      padding: 60px 40px;
      .back {
        position: relative;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        &::before {
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          -webkit-mask: url('@/assets/img/navigation.png') no-repeat;
          -webkit-mask-size: contain;
          background: #000000;
          left: 0px;
          top: 20px;
          transform: rotate(180deg);
        }
      }
      li {
        line-height: 55px;
        border-bottom: 1px solid #d0d0d0;
        a {
          padding: 0 0 0 0;
          font-size: 16px;
          line-height: 50px;
        }
      }
    }
    .sec_item {
      position: absolute;
      width: 100vw;
      height: 100vh;
      left: 0;
      padding: 60px 40px;
      .back {
        position: relative;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        &::before {
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          -webkit-mask: url('@/assets/img/navigation.png') no-repeat;
          -webkit-mask-size: contain;
          background: #000000;
          left: 0px;
          top: 20px;
          transform: rotate(180deg);
        }
      }
      li {
        line-height: 55px;
        border-bottom: 1px solid #d0d0d0;
        a {
          padding: 0 0 0 0;
        }
      }
    }
    // 多語
    .lang_wrap {
      position: relative;
      top: 30px;
      margin-left: 0px;
      cursor: pointer;
      .text {
        width: 100%;
        height: 50px;
        padding: 0 40px;
        display: flex;
        align-items: center;
        line-height: 50px;
        font-size: 16px;
        font-weight: bold;
        color: #000000;
        &::before {
          content: '';
          position: absolute;
          width: 15px;
          height: 15px;
          -webkit-mask: url('@/assets/img/navigation.png') no-repeat;
          -webkit-mask-size: contain;
          background: #000000;
          right: 40px;
          transform: rotate(90deg);
        }
        &::after {
          content: '';
          position: absolute;
          width: calc(100% - 80px);
          bottom: 0px;
          border-bottom: 3px solid #000000;
        }
      }
      .lang_drop {
        position: absolute;
        width: calc(100% - 80px);
        top: 60px;
        left: 40px;
        background: #ffffff;
        border: 1px solid #e5e4e4;
        transition: 0.5s ease;
        opacity: 0;
        pointer-events: none;
        transform: translateY(30px);
        &.active {
          opacity: 1;
          pointer-events: initial;
          transition: 0.5s ease;
          transform: translateY(0);
        }
        .link {
          position: relative;
          padding: 0 0px;
          display: block;
          font-size: 16px;
          font-weight: bold;
          line-height: 40px;
          color: #858585;
          text-align: center;
          text-decoration: none;
          &::after {
            display: none;
          }
        }
      }
    }
    .lightbox_wrap {
      .item {
        .box {
          form {
            input {
              height: 57px;
              font-size: calc(48 / 1100 * 100vw);
            }
            button {
              right: 0;
            }
          }
        }
      }
    }
    .big_wrap {
      .right {
        .lang_wrap {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 700px) {
}
@media (min-width: 1100px) {
  .container {
    .one_item {
      .back {
        display: none;
      }
    }
    .nav_wrap {
      .lang_wrap {
        display: none;
      }
    }
  }
}
@media (width: 1024px) and (orientation: landscape) {
}
@media (width: 1366px) and (orientation: landscape) {
}
</style>