<template>
  <!-- 符合所有規範 -->
  <div class="container" :id="'rewards'+config.id">
    <!-- 背景1920*615 -->
    <img class="bg" :src="img" />
    <!-- 手機背景700*1200 -->
    <img class="mobile_bg" :src="mobile_img" />
    <div class="big_wrap">
      <div class="text_wrap">
        <div class="title">獎項與榮耀</div>
        <p>Honer</p>
      </div>

      <div v-swiper:mySwiper="swiperOption">
        <div class="swiper-wrapper" :class="{ center: isWrapActive }">
          <div class="swiper-slide" v-for="(item,index) in imgItem" :key="index">
            <a class="link">
              <!-- logo 100*100 -->
              <img class="img" :src="item.img" />
            </a>
          </div>
        </div>
      </div>
      <div class="navigation" :class="{ hide: isActive }">
        <div class="item">
          <div class="button-prev btn"></div>
        </div>
        <div class="item">
          <div class="button-next btn"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    config: {
      type: Object,
    },
  },
  data() {
    return {
      img: 'https://picsum.photos/1920/515/?random=1',
      mobile_img: 'https://picsum.photos/700/1200/?random=1',
      imgItem: [
        {
          img: require('@/assets/img/rewards/rewards01_img1.png'),
        },
        {
          img: require('@/assets/img/rewards/rewards01_img2.png'),
        },
        {
          img: require('@/assets/img/rewards/rewards01_img3.png'),
        },
      ],
      isActive: false,
      isPaActive: false,
      isWrapActive: false,
      // 輪播設定
      swiperOption: {
        navigation: {
          nextEl: '#rewards' + this.config.id + ' .button-next',
          prevEl: '#rewards' + this.config.id + ' .button-prev',
          clickable: true,
        },
        pagination: {
          el: '#rewards' + this.config.id + ' .pagination',
          clickable: true,
          type: 'bullets',
        },
        speed: 600,
        centeredSlides: true,
        loop: true,
        // autoplay: {
        //   delay: 3000,
        // },
        breakpoints: {
          0: {
            slidesPerView: 2,
            spaceBetween: 30,
          },
          700: {
            slidesPerView: 3,
            spaceBetween: 0,
          },
        },
      },
    }
  },

  methods: {
    init() {
      let lengths = this.mySwiper.slides.length
      if (lengths <= 3) {
        this.mySwiper.destroy(false)
        this.isActive = true
      }
    },
    animateOnScroll() {
      const gsap = this.$gsap.timeline({
        scrollTrigger: {
          trigger: '#rewards' + this.config.id,
          toggleActions: 'restart pause restart reset',
        },
      })
      gsap
        .fromTo(
          '#rewards' + this.config.id + ' .text_wrap',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0
        )
        .fromTo(
          '#rewards' + this.config.id + ' .swiper-container',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0.3
        )
        .fromTo(
          '#rewards' + this.config.id + ' .navigation',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0.4
        )
    },
  },
  mounted() {
    this.init()
    this.animateOnScroll()
  },
}
</script>

<style lang="scss" scoped>
.container {
  position: relative;
  height: 32.14vw;
  padding: 7.3vw 16.67vw;
  font-family: 'Heebo', sans-serif, 'MicrosoftJhengHei';
  border-bottom: 1px solid #c9c9c8;
  border-top: 1px solid #c9c9c8;
  // 背景
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    display: none;
  }
  // 手機背景
  .mobile_bg {
    display: none;
  }
  .swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .swiper-wrapper {
    align-items: center;
  }
  .swiper-slide {
    text-align: center;
    cursor: pointer;
  }
  .big_wrap {
    position: relative;
    .text_wrap {
      width: 40%;
      margin-bottom: 5.208vw;
      .title {
        font-size: calc(24 / 1920 * 100vw);
        font-weight: bold;
        letter-spacing: 1.8px;
        margin-bottom: 0.758vw;
        color: #161616;
        line-height: 1.15;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-break: break-all;
      }
      p {
        font-size: calc(72 / 1920 * 100vw);
        color: #ea260c;
        font-weight: bold;
        line-height: 1.15;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-break: break-all;
      }
    }
    .link {
      position: relative;
      width: 5.208vw;
      height: 5.208vw;
      display: inline-block;
      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  // 按鈕
  .navigation {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 2.1875vw;
    left: 0;
    cursor: pointer;
    z-index: 2;
    &.hide {
      display: none;
    }
    .line {
      position: absolute;
      width: 80%;
      height: 2px;
      left: 0;
      background: #787777;
    }
    .item {
      .btn {
        position: relative;
        width: 1.041vw;
        height: 1.041vw;
        -webkit-mask: url('./assets/img/navigation.png') no-repeat;
        -webkit-mask-size: contain;
        background: #000000;
        pointer-events: initial;
        transition: 0.5s ease;
        cursor: pointer;
        outline: none;

        &.swiper-button-disabled {
          background: #000000;
          pointer-events: none;
          cursor: auto;
          opacity: 0.5;
        }
      }
      .button-prev {
        transform: rotate(180deg);
      }
    }
  }
}
@media (max-width: 1100px) {
  .container {
    height: 45vh;
    padding: 9.11vw calc(55 / 768 * 100vw);
    .big_wrap {
      .text_wrap {
        margin-bottom: 10.208vw;
        .title {
          margin-bottom: 1.958vw;
          font-size: calc(24 / 1100 * 100vw);
        }
        p {
          font-size: calc(72 / 1100 * 100vw);
        }
      }
      .link {
        width: 10.208vw;
        height: 10.208vw;
      }
    }
    .navigation {
      bottom: 4.1875vw;
      .item {
        .btn {
          width: 2.041vw;
          height: 2.041vw;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .container {
    height: 460px;
    flex-direction: column;
    padding: 70px 0;
    overflow: hidden;
    .bg {
      display: none;
    }
    .mobile_bg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
      object-position: center;
      display: block;
    }

    .big_wrap {
      .text_wrap {
        width: 70%;
        padding: 0 37px;
        margin-bottom: 20.208vw;
        .title {
          margin-bottom: 1.958vw;
          font-size: 18px;
        }
        p {
          font-size: 32px;
        }
      }
      .swiper-slide {
        transition: 0.5s ease;
        opacity: 0.6;
        .link {
          transition: 0.5s ease;
          width: 18.208vw;
          height: 18.208vw;
        }
      }
      .swiper-slide-active {
        transition: 0.5s ease;
        opacity: 1;
        .link {
          transition: 0.5s ease;
          width: 22.208vw;
          height: 22.208vw;
        }
      }
    }

    .navigation {
      bottom: 9.1875vw;
      .item {
        &:first-child {
          position: relative;
          left: 30px;
        }
        &:nth-child(2) {
          position: relative;
          right: 30px;
        }
        .btn {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
@media (width: 1024px) and (orientation: landscape) {
  .container {
    height: 60vh;
    padding: 7.11vw calc(55 / 768 * 100vw);
    .big_wrap {
      .text_wrap {
        margin-bottom: 6.208vw;
      }
    }
  }
}
</style>