<template>
  <!-- 符合所有規範 -->
  <div class="container" :id="'recruit'+config.id">
    <!-- 背景1920*670 -->
    <img class="bg" alt :src="img" />
    <!-- 背景700*1200 -->
    <img class="mobile_bg" alt :src="mobile_img" />
    <div class="wrap">
      <div class="title">徵才</div>
      <div class="text_wrap">
        <div class="left">
          <p>期待您加入我們讓名為未來的光閃耀著前方</p>
        </div>
        <div class="right">
          <p>尋找充滿服物熱忱，打破傳統思維，這樣的員工我們堅信和我們有著相同的理念和合作藍圖。</p>
        </div>
      </div>
      <div class="item">
        <div class="text">加入我們</div>
        <div class="icon"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    config: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      img: 'https://picsum.photos/1920/670/?random=1',
      mobile_img: 'https://picsum.photos/700/1200/?random=1',
    }
  },
  methods: {
    animateOnScroll() {
      const gsap = this.$gsap.timeline({
        scrollTrigger: {
          trigger: '#recruit' + this.config.id,
          toggleActions: 'restart pause restart reset',
        },
      })
      gsap
        .fromTo(
          '#recruit' + this.config.id + ' .wrap',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0
        )
        .fromTo(
          '#recruit' + this.config.id + ' .title',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0.4
        )
        .fromTo(
          '#recruit' + this.config.id + ' .text_wrap',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0.5
        )
        .fromTo(
          '#recruit' + this.config.id + ' .item',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0.6
        )
    },
  },
  mounted() {
    this.animateOnScroll()
  },
}
</script>

<style lang="scss" scoped>
$main: #341d74;
$bg-color: #000000;
$font-color: #ffffff;
.container {
  position: relative;
  width: 100%;
  height: 34.84375vw;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.mobile_bg {
  display: none;
}
.wrap {
  position: absolute;
  width: 42.239vw;
  left: 7.8125vw;
  bottom: 0;
  background: $bg-color;
  padding: 7.45vw 4.58vw 2.865vw 5.46875vw;
  .title {
    font-size: calc(22 / 1920 * 100vw);
    color: #a4a4a4;
    font-weight: 900;
    margin-bottom: 2.917vw;
  }
  .text_wrap {
    position: relative;
    display: flex;
    margin-bottom: 5vw;

    .left {
      padding-right: 3.10416vw;
      p {
        font-size: calc(36 / 1920 * 100vw);
        color: $font-color;
        letter-spacing: 1.8px;
        font-weight: bold;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 1.2;
      }
    }
    .right {
      p {
        font-size: calc(18 / 1920 * 100vw);
        color: #a4a4a4;
        letter-spacing: 0.9px;
        text-align: justify;
        line-height: 1.67;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
  }
  .item {
    position: relative;
    display: flex;
    align-items: center;
    .text {
      font-size: calc(22 / 1920 * 100vw);
      color: $font-color;
      font-weight: 900;
      margin-right: 4.16vw;
    }
    .icon {
      width: 1.5625vw;
      height: 1.145vw;
      -webkit-mask: url('./assets/img/arrow.svg') no-repeat;
      -webkit-mask-size: contain;
      background: #ffffff;
    }
  }
}

@media (max-width: 1500px) {
}

@media (max-width: 1100px) {
  .container {
    height: 30vh;
  }

  .wrap {
    padding: 5.45vw 4.58vw 4.865vw 5.46875vw;
    width: 465px;
    .title {
      font-size: calc(22 / 1100 * 100vw);
    }
    .text_wrap {
      .left {
        max-width: 40%;
        font-size: calc(36 / 1100 * 100vw);
        margin-right: 25px;
      }
      .right {
        max-width: 40%;
        font-size: calc(18 / 1100 * 100vw);
      }
    }
    .item {
      .text {
        font-size: calc(22 / 1100 * 100vw);
      }
      .icon {
        width: 2.5625vw;
        height: 1.845vw;
      }
    }
  }
}
@media (max-width: 1024px) and (min-width: 1024px) {
  .container {
    height: 500px;
  }
}
@media (max-width: 700px) {
  .container {
    height: 600px;
  }

  .bg {
    display: none;
  }
  .mobile_bg {
    position: absolute;
    width: 100%;
    height: calc(100% - 220px);
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
    display: block;
    z-index: -1;
  }
  .wrap {
    width: 100%;
    height: 220px;
    left: 0;
    padding: 40px 40px 60px;
    .title {
      font-size: 16px;
      margin-bottom: 4.917vw;
    }
    .text_wrap {
      .left {
        max-width: 50%;
        margin-right: 0;
        p {
          font-size: 20px;
        }
      }
      .right {
        max-width: 46%;

        p {
          font-size: 14px;
        }
      }
    }
    .item {
      .text {
        font-size: 16px;
      }
      .icon {
        width: 20px;
        height: 15px;
      }
    }
  }
}
</style>