<template>
  <!-- 符合所有規範 -->
  <div class="container" :id="'information'+config.id">
    <!-- 只能用背景色 -->
    <div class="bg"></div>
    <div class="top">
      <div class="title">創造無限可能</div>
      <p>最新消息</p>
    </div>
    <div class="bottom">
      <div class="text_wrap" v-for="(item,index) in 3" :key="index">
        <a class="text_item" href>
          <!-- 圖片450*505 -->
          <img class="img" :src="img" />
          <div class="item">
            <div class="day">
              <div class="edit">
                <div class="icon"></div>
              </div>
              <div class="box">
                <div class="title">活動訊息</div>
                <div class="date">07 - 05，2019</div>
              </div>
            </div>
            <div class="content">
              心理學提升設計
              <br />有感度
            </div>
            <div class="more">
              閱讀更多
              <div class="icon"></div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="swiper_m_wrap" v-swiper:mySwiper="swiperOption">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="(banner,index) in 3" :key="index">
          <a class="text_item" href>
            <!-- 圖片450*505 -->
            <img class="img" :src="img" />
            <div class="item">
              <div class="day">
                <div class="edit">
                  <div class="icon"></div>
                </div>
                <div class="box">
                  <div class="title">活動訊息</div>
                  <div class="date">07 - 05，2019</div>
                </div>
              </div>
              <div class="content">
                心理學提升設計
                <br />有感度
              </div>
              <div class="more">
                閱讀更多
                <div class="icon"></div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="pagination" :class="{ active: isPaActive }"></div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    config: {
      type: Object,
    },
  },

  data() {
    return {
      img: require('@/assets/img/information/information01_img.png'),
      isActive: false,
      isPaActive: false,
      // 輪播設定
      swiperOption: {
        pagination: {
          el: '#information' + this.config.id + ' .pagination',
          clickable: true,
          type: 'bullets',
        },
        slidesPerView: 1,
        speed: 1000,
        spaceBetween: 20,
        // autoplay: {
        //   delay: 3000,
        // },
      },
    }
  },
  methods: {
    init() {
      let lengths = this.mySwiper.slides.length
      lengths < 2 ? (this.isPaActive = true) : (this.isPaActive = false)
    },
    animateOnScroll() {
      const gsap = this.$gsap.timeline({
        scrollTrigger: {
          trigger: '#information' + this.config.id,
          toggleActions: 'restart pause restart reset',
        },
      })
      gsap
        .fromTo(
          '#information' + this.config.id + ' .top',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0
        )
        .fromTo(
          '#information' + this.config.id + ' .bottom',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0.4
        )
        .fromTo(
          '#information' + this.config.id + ' .swiper_m_wrap',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0.4
        )
    },
  },
  mounted() {
    this.init()
    this.animateOnScroll()
  },
}
</script>
<style lang="scss" scoped>
$main: #341d74;
$font-color: #ffffff;
$bg-color: #000000;
.container {
  position: relative;
  width: 100%;
  height: 47.292vw;
  padding: 5.83vw 13.28125vw 6.979vw;
  font-family: 'Montserrat', sans-serif;
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: $bg-color;
    z-index: -1;
  }
}

.top {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.90625vw;
  .title {
    width: 50%;
    font-size: calc(20 / 1920 * 100vw);
    font-weight: bold;
    color: $font-color;
    margin-bottom: 1.67vw;
    line-height: 1.15;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  p {
    width: 50%;
    font-size: calc(36 / 1920 * 100vw);
    font-weight: bold;
    color: $font-color;
    line-height: 1.15;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.bottom {
  position: relative;
  display: flex;
  align-items: center;
  .text_wrap {
    position: relative;
    width: calc(100% / 3);
    margin-right: 1.5625vw;
    &:nth-child(3n) {
      margin-right: 0px;
    }
  }
  .text_item {
    position: relative;
    width: 100%;
    display: block;
    text-decoration: none;
    &:hover {
      .item {
        opacity: 1;
        transition: 0.35s ease;
      }
    }
    .img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
    .item {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 4.896vw 0 6.25vw 3.28125vw;
      background: $main;
      opacity: 0;
      transition: 0.35s ease;
      .day {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 1.82vw;

        .edit {
          width: calc(54 / 1920 * 100vw);
          height: calc(54 / 1920 * 100vw);
          display: flex;
          justify-content: center;
          align-items: center;
          background: #c9c5c5;
          border-radius: 50%;
          margin-right: 16px;
          .icon {
            width: 1.042vw;
            height: 1.042vw;
            -webkit-mask: url('@/assets/img/information/information01_icon.png')
              no-repeat;
            -webkit-mask-size: contain;
            background: #ffffff;
          }
        }
        .box {
          max-width: 60%;
        }
        .title {
          font-size: calc(16 / 1920 * 100vw);
          color: $font-color;
          margin-bottom: 12px;
          line-height: 1.15;
          overflow: hidden;
          white-space: normal;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
        .date {
          font-size: calc(14 / 1920 * 100vw);
          color: $font-color;
          line-height: 1.15;
          overflow: hidden;
          white-space: normal;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
      .content {
        width: 80%;
        font-size: calc(30 / 1920 * 100vw);
        color: $font-color;
        margin-bottom: 6.25vw;
        font-weight: 900;
        line-height: 1.2;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .more {
        display: flex;
        align-items: center;
        font-size: calc(20 / 1920 * 100vw);
        color: $font-color;
        .icon {
          width: 1.042vw;
          height: 1.042vw;
          margin-left: 25px;
          -webkit-mask: url('@/assets/img/navigation.png') no-repeat;
          -webkit-mask-size: contain;
          background: #ffffff;
        }
      }
    }
  }
}
@media (max-width: 1500px) {
}
@media (max-width: 1100px) {
  .container {
    height: 60vh;
    padding: 5.83vw 6.28125vw 6.979vw;
  }

  .top {
    margin-bottom: 3.90625vw;
    .title {
      width: 50%;
      font-size: calc(20 / 1100 * 100vw);
    }
    p {
      width: 50%;
      font-size: calc(36 / 1100 * 100vw);
    }
  }

  .bottom {
    .text_item {
      .item {
        padding: 2.896vw 0.958vw 3.25vw 3.28125vw;
        position: relative;
        opacity: 1;
        .day {
          margin-bottom: 3.32vw;
          .edit {
            width: 25px;
            height: 25px;
            margin-right: 1.45vw;
          }
          .title {
            font-size: calc(16 / 1100 * 100vw);
            margin-bottom: 5px;
          }
          .date {
            font-size: calc(14 / 1100 * 100vw);
          }
        }
        .content {
          font-size: calc(24 / 1100 * 100vw);
          margin-bottom: 2.25vw;
        }
        .more {
          font-size: calc(20 / 1100 * 100vw);
          .icon {
            margin-left: 12px;
          }
        }
      }
    }
  }
}
@media (min-width: 700px) {
  .swiper_m_wrap {
    display: none;
  }
}
@media (max-width: 700px) {
  .container {
    height: auto;
    padding: 48px 40px 6.979vw;
  }

  .bottom {
    display: none;
  }

  .top {
    margin-bottom: 7.90625vw;
    .title {
      width: 50%;
      font-size: 14px;
      margin-bottom: 15px;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    p {
      width: 50%;
      font-size: 20px;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
  .swiper_m_wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    .text_item {
      position: relative;
      width: 100%;
      display: block;
      text-decoration: none;
      .img {
        width: 100%;
        height: auto;
        vertical-align: middle;
      }
      .item {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        padding: 30px 24px 30px;
        background: $main;
        .day {
          width: 100%;
          display: flex;
          align-items: center;
          margin-bottom: 5.82vw;
          .edit {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #c9c5c5;
            border-radius: 50%;
            margin-right: 7px;
            .icon {
              width: 15px;
              height: 15px;
              -webkit-mask: url('@/assets/img/information/information01_icon.png')
                no-repeat;
              -webkit-mask-size: contain;
              background: #ffffff;
            }
          }
          .box {
            max-width: 60%;
          }
          .title {
            font-size: 14px;
            color: $font-color;
            margin-bottom: 7px;
            line-height: 1.15;
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
          .date {
            font-size: 14px;
            color: $font-color;
            line-height: 1.15;
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
        }
        .content {
          font-size: 20px;
          color: $font-color;
          margin-bottom: 8.25vw;
          font-weight: 900;
          line-height: 1.5;
          overflow: hidden;
          white-space: normal;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .more {
          display: flex;
          align-items: center;
          font-size: 14px;
          color: $font-color;
          .icon {
            width: 15px;
            height: 15px;
            margin-left: 25px;
            -webkit-mask: url('@/assets/img/navigation.png') no-repeat;
            -webkit-mask-size: contain;
            background: #ffffff;
          }
        }
      }
    }
    .pagination {
      position: relative;
      width: 100%;
      top: auto;
      bottom: -30px;
      right: auto;
      display: flex;
      justify-content: center;
      &.active {
        display: none;
      }
      /deep/ .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background: transparent;
        border: 1px solid #ffffff;
        &.swiper-pagination-bullet-active {
          background: #5334a7;
          border: 1px solid #5334a7;
        }
      }
    }
  }
}
@media (width: 1024px) and (orientation: landscape) {
  .container {
    height: 100vh;
  }
}
@media (width: 1366px) and (orientation: landscape) {
}
</style>