<template>
  <!-- 符合所有規範 -->
  <div class="container" :id="'carousel'+config.id">
    <div v-swiper:mySwiper="swiperOption">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="(item,index) in 3" :key="index">
          <!-- 背景1920*850 -->
          <img class="bg" :src="img" />
          <!-- 手機背景700*1200 -->
          <img class="mobile_bg" :src="mobile_img" />
          <div class="text_wrap">
            <div class="text_item">
              <div class="title">
                International
                <br />Forum For
                <br />Energy Innovation
              </div>
              <p>國際能源創新論壇登場</p>
              <div class="button_item">
                <a href class="link">
                  <span>瞭解更多</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination" :class="{ hide: isPaActive }"></div>
      <div class="navigation" :class="{ hide: isActive }">
        <div class="item">
          <div class="button-prev btn"></div>
        </div>
        <div class="item">
          <div class="button-next btn"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    config: {
      type: Object,
    },
  },
  data() {
    return {
      img: require('@/assets/img/carousel/carousel02_bg.png'),
      mobile_img: 'https://picsum.photos/700/1200/?random=1',
      isActive: false,
      isPaActive: false,
      // 輪播設定
      swiperOption: {
        navigation: {
          nextEl: '#carousel' + this.config.id + ' .button-next',
          prevEl: '#carousel' + this.config.id + ' .button-prev',
          clickable: true,
        },
        pagination: {
          el: '#carousel' + this.config.id + ' .pagination',
          clickable: true,
          type: 'bullets',
        },
        effect: 'fade',
        speed: 600,
        // autoplay: {
        //   delay: 3000,
        // },
        breakpoints: {
          0: {
            slidesPerView: 1,
            spaceBetween: 0,
          },
          700: {
            slidesPerView: 1,
            spaceBetween: 0,
          },
          1500: {
            slidesPerView: 1,
            spaceBetween: 0,
          },
        },
      },
    }
  },

  methods: {
    init() {
      let lengths = this.mySwiper.slides.length
      lengths < 2
        ? ((this.isActive = true), (this.isPaActive = true))
        : ((this.isActive = false), (this.isPaActive = false))
    },
  },
  mounted() {
    this.init()
  },
}
</script>

<style lang="scss" scoped>
$black: #000000;
$white: #ffffff;
.container {
  position: relative;
  height: 100vh;
  display: flex;
  font-family: 'Heebo', sans-serif;
  // 背景
  .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 1.8s ease;
    transform: scale(1.2);
    opacity: 0;
  }
  // 手機背景
  .mobile_bg {
    display: none;
  }
  &:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 32.5vw;
    top: 0;
    background: #c9c9c8;
    z-index: 1;
  }
  a {
    text-decoration: none;
  }
  .swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .swiper-wrapper {
    align-items: center;
  }
  .swiper-slide {
    cursor: pointer;
  }
  .swiper-slide-active {
    .bg {
      transition: 1.8s ease;
      transform: scale(1);
      opacity: 1;
    }
    .mobile_bg {
      transition: 1.8s ease;
      transform: scale(1);
      opacity: 1;
    }
    .text_wrap {
      .text_item {
        transform: translateY(0);
        opacity: 1;
        transition: all 1.2s ease 0.4s;
      }
    }
  }
  .text_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 39.42vw 76px 33.54vw;
    display: flex;
    align-items: flex-end;
    .text_item {
      transform: translateY(50px);
      transition: all 1.2s ease 0.4s;
      opacity: 0;
      //大字
      .title {
        font-size: calc(64 / 1920 * 100vw);
        font-weight: bold;
        color: #ea260c;
        line-height: 1.15;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        word-break: break-all;
      }
      //敘述
      p {
        margin-top: 8px;
        margin-bottom: 1.302vw;
        display: block;
        font-size: calc(24 / 1920 * 100vw);
        font-weight: bold;
        color: #161616;
        line-height: 1.15;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: break-all;
      }
    }
    //連結
    .link {
      position: relative;
      width: 14.5vw;
      height: 3.5vw;
      padding-left: 3.3vw;
      display: inline-block;
      font-size: calc(16 / 1920 * 100vw);
      font-weight: bold;
      border: 1px solid #a1a09e;
      line-height: 3.33vw;
      text-align: center;
      transition: 0.3s ease;
      cursor: pointer;
      &:hover {
        border: 1px solid #ea260c;
        transition: 0.3s ease;
        &::before {
          border: 1px solid #ffffff;
          transition: 0.3s ease;
          border-left: 0;
          border-bottom: 0;
        }
        &:after {
          background: #ffffff;
        }
        span {
          color: #ea260c;
          &::before {
            border: 1px solid #ea260c;
            background: #ea260c;
          }
        }
      }
      &:before {
        content: '';
        position: absolute;
        width: 0.83vw;
        height: 0.83vw;
        left: 1.45vw;
        top: 50%;
        border: 1px solid #161616;
        border-left: 0;
        border-bottom: 0;
        transform: rotate(45deg);
        margin-top: -0.364vw;
        transition: all 0.3s ease;
        z-index: 1;
      }
      &:after {
        content: '';
        position: absolute;
        width: 1.2vw;
        height: 1px;
        left: 0.78125vw;
        top: 50%;
        background: #161616;
        transition: all 0.3s ease;
      }
      span {
        color: #000000;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all;
        &::before {
          content: '';
          border: 1px solid #a1a09e;
          position: absolute;
          width: 3.28125vw;
          height: 3.28125vw;
          border-radius: 50%;
          left: 0;
          background-color: transparent;
          transition: all 0.3s ease;
        }
      }
    }
  }

  // 按鈕
  .navigation {
    position: absolute;
    width: 100%;
    bottom: 20.8vw;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    &.hide {
      display: none;
    }
    .line {
      position: absolute;
      width: 80%;
      height: 2px;
      left: 0;
      background: #787777;
    }
    .item {
      .btn {
        position: relative;
        -webkit-mask: url('@/assets/img/navigation.png') no-repeat;
        -webkit-mask-size: contain;
        width: 2.041vw;
        height: 1.541vw;
        background: $black;
        pointer-events: initial;
        transition: 0.5s ease;
        cursor: pointer;
        outline: none;
        &.swiper-button-disabled {
          background: $black;
          pointer-events: none;
          cursor: auto;
          opacity: 0.5;
        }
        &:hover {
          background: #ea260c;
          transition: 0.5s ease;
        }
      }
      &:first-child {
        position: absolute;
        left: 6.59vw;
      }
      &:nth-child(2) {
        position: absolute;
        right: 6.59vw;
      }
      .button-prev {
        transform: rotate(180deg);
      }
      .button-next {
        margin-left: 3.38vw;
      }
    }
  }
  .pagination {
    position: absolute;
    width: auto;
    right: 12.5vw;
    left: auto;
    bottom: 20.416vw;

    z-index: 1;
    &.hide {
      display: none;
    }
    /deep/ .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      margin: 0 10px;
      border: 1px solid #000000;
      border-radius: 50%;
      background: transparent;
      cursor: pointer;

      &:first-child {
        margin: 0 10px 0 0;
      }
      &.swiper-pagination-bullet-active {
        background: #000000;
      }
    }
  }
}
@media (max-width: 1500px) {
  .container {
  }
}
@media (max-width: 1100px) {
  .container {
    height: 100vh;
    &::after {
      display: none;
    }
    .swiper-container {
      height: 100%;
    }
    .swiper-wrapper {
      align-items: center;
    }
    .swiper-slide {
      cursor: pointer;
    }
    .text_wrap {
      padding: 0 calc(55 / 768 * 100vw) 14.32vh;

      .text_item {
        //大字
        .title {
          font-size: calc(64 / 1100 * 100vw);
        }
        //敘述
        p {
          margin-top: 15px;
          margin-bottom: 4.302vw;
          font-size: calc(24 / 1100 * 100vw);
        }
      }
      //連結
      .link {
        width: 20.83vw;
        height: 6.77vw;
        padding-left: 7.3vw;
        line-height: 6.77vw;
        font-size: calc(16 / 1100 * 100vw);
        &:before {
          width: 1.83vw;
          height: 1.83vw;
          left: 2.45vw;
          margin-top: -0.964vw;
        }
        &:after {
          width: 2.7vw;
          left: 1.08125vw;
        }
        span {
          font-size: 16px;
          &::before {
            width: 6.25vw;
            height: 6.25vw;
          }
        }
      }
    }

    // 按鈕
    .navigation {
      bottom: 50vh;

      .item {
        &:first-child {
          left: 4.29vw;
        }
        &:nth-child(2) {
          right: 4.29vw;
        }
        .btn {
          width: 2.041vw;
          height: 3.041vw;
        }
      }
    }
    .pagination {
      width: 100%;
      right: 0;
      bottom: 45px;
      text-align: center;
    }
  }
}
@media (max-width: 700px) {
  .container {
    .bg {
      display: none;
    }
    .mobile_bg {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center;
      transition: 1.8s ease;
      transform: scale(1.2);
      opacity: 0;
    }
    .text_wrap {
      padding: 0 50px 35.32vh;
      .text_item {
        //大字
        .title {
          font-size: 28px;
        }
        //敘述
        p {
          margin-bottom: 7.302vw;
          font-size: 16px;
        }
      }
      //連結
      .link {
        width: 120px;
        height: 35px;
        padding-left: 7.3vw;
        line-height: 35px;
        font-size: 16px;
        &:before {
          width: 10px;
          height: 10px;
          left: 2.95vw;
          margin-top: -1.564vw;
        }
        &:after {
          width: 2.7vw;
          left: 1.58125vw;
          transform: translateY(-50%);
        }
        span {
          font-size: 12px;
          &::before {
            width: 30px;
            height: 30px;
          }
        }
      }
    }

    // 按鈕
    .navigation {
      bottom: 50vh;

      .item {
        &:first-child {
          left: 3.29vw;
        }
        &:nth-child(2) {
          right: 3.29vw;
        }
        .btn {
          width: 10px;
          height: 20px;
        }
      }
    }
    .pagination {
      width: 100%;
      right: 0;
      bottom: 45px;
      text-align: center;
    }
  }
}
@media (width: 1024px) and (orientation: landscape) {
  .container {
    .navigation {
      bottom: 65vh;
    }
  }
}
@media (width: 1366px) and (orientation: landscape) {
  .container {
  }
}
</style>