<template>
  <!-- 符合所有規範 -->
  <div class="contain" :id="'secnes'+config.id">
    <!-- 背景1920*825 -->
    <img class="bg" :src="img" alt />
    <!-- 手機背景700*1200 -->
    <img class="bg_mobile" :src="mobile_img" alt />
    <div class="text_wrap">
      <div class="title">{{text.title}}</div>
      <p>
        {{ text.content1 }}
        <br />
        {{text.content2}}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    config: {
      type: Object,
    },
  },
  data() {
    return {
      img: require('@/assets/img/scenes/scenes02_bg.png'),
      mobile_img: require('@/assets/img/scenes/scenes02_bg_m.png'),
      text: {
        title: '論壇主辦城市台中巡禮',
        content1: ' City Tour',
        content2: ' at Taichung',
      },
    }
  },
  methods: {
    animateOnScroll() {
      const gsap = this.$gsap.timeline({
        scrollTrigger: {
          trigger: '#secnes' + this.config.id,
          toggleActions: 'restart pause restart reset',
        },
      })
      gsap
        .fromTo(
          '#secnes' + this.config.id + ' .line',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0
        )
        .fromTo(
          '#secnes' + this.config.id + ' .title',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0.4
        )
        .fromTo(
          '#secnes' + this.config.id + ' p',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0.5
        )
    },
  },
  mounted() {
    this.animateOnScroll()
  },
}
</script>

<style lang="scss" scoped>
$main: #5059bc;
$font-color: #ffffff;
.contain {
  position: relative;
  width: 100%;
  height: 42.96875vw;
  font-family: 'Heebo', sans-serif, 'MicrosoftJhengHei';
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }
  .bg_mobile {
    display: none;
  }
  .text_wrap {
    position: absolute;
    width: 33.23vw;
    top: 24.375vw;
    right: 0;
    padding: 1.45vw 0 0;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      top: 0;
      left: 0;
      background: black;
      transition: all 0.3s ease;
    }
    .title {
      max-width: 70%;
      margin-bottom: 1.04vw;
      font-size: calc(24 / 1920 * 100vw);
      font-weight: bold;
      color: #161616;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-break: break-all;
    }
    p {
      max-width: 70%;
      font-size: calc(72 / 1920 * 100vw);
      font-weight: bold;
      color: #ea260c;
      line-height: 1.15;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      word-break: break-all;
    }
  }
}

@media (max-width: 1500px) {
}

@media (max-width: 1100px) {
  .contain {
    .text_wrap {
      top: 13.375vw;
      padding: 3.45vw 0 0;
      .title {
        max-width: 90%;
        margin-bottom: 1.54vw;
        font-size: calc(28 / 1100 * 100vw);
      }
      p {
        max-width: 90%;
        font-size: calc(60 / 1100 * 100vw);
      }
    }
  }
}

@media (max-width: 700px) {
  .contain {
    height: 100vw;
    .bg {
      display: none;
    }
    .bg_mobile {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
      object-position: center;
      z-index: -1;
      display: block;
    }
    .text_wrap {
      width: 50%;
      top: 33.375vw;
      padding: 5.45vw 0 0;
      .title {
        margin-bottom: 2.54vw;
        font-size: 16px;
      }
      p {
        font-size: 26px;
      }
    }
  }
}
@media (width: 1024px) and (orientation: landscape) {
}
</style>