<template>
  <!-- 符合所有規範 -->
  <div class="container" :id="'secnes'+config.id">
    <!-- 背景1920*945 -->
    <img class="bg" :src="img" alt />
    <!-- 手機背景700*1200 -->
    <img class="bg_mobile" :src="mobile_img" alt />
    <div class="line"></div>
    <div class="title">
      Sincerity Benignity
      <br />and Continue
    </div>
    <p>
      我們的客戶將我們描述為一個顧問團隊，通過打造一
      <br />流的用戶體驗來創建出色的設計。
    </p>
  </div>
</template>

<script>
export default {
  props: {
    config: {
      type: Object,
    },
  },
  data() {
    return {
      img: 'https://picsum.photos/1920/945/?random=1',
      mobile_img: 'https://picsum.photos/700/1200/?random=1',
    }
  },
  methods: {
    animateOnScroll() {
      const gsap = this.$gsap.timeline({
        scrollTrigger: {
          trigger: '#secnes' + this.config.id,
          toggleActions: 'restart pause restart reset',
        },
      })
      gsap
        .fromTo(
          '#secnes' + this.config.id + ' .line',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0
        )
        .fromTo(
          '#secnes' + this.config.id + ' .title',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0.4
        )
        .fromTo(
          '#secnes' + this.config.id + ' p',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0.5
        )
    },
  },
  mounted() {
    this.animateOnScroll()
  },
}
</script>

<style lang="scss" scoped>
$main: #5059bc;
$font-color: #ffffff;
.container {
  position: relative;
  width: 100%;
  height: 49.21875vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0vw 31.71875vw 0;
  font-family: 'Montserrat', sans-serif;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.bg_mobile {
  display: none;
}
.line {
  position: relative;
  width: 0.46875vw;
  height: 6.35416vw;
  bottom: 0.78125vw;
  margin-bottom: 5.46875vw;
  background: $main;
}
.title {
  position: relative;
  bottom: 0.78125vw;
  font-size: calc(70 / 1920 * 100vw);
  color: $font-color;
  font-weight: bold;
  text-align: center;
  line-height: 1.15;
  margin-bottom: 4.427vw;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
p {
  position: relative;
  bottom: 0.78125vw;
  font-size: calc(18 / 1920 * 100vw);
  color: $font-color;
  line-height: 2;
  text-align: center;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (max-width: 1500px) {
}

@media (max-width: 1100px) {
  .container {
    height: 50vh;
    padding: 0vw 12.71875vw 0;
  }

  .line {
    margin-bottom: 3.46875vw;
  }
  .title {
    font-size: calc(70 / 1100 * 100vw);
  }
  p {
    font-size: calc(18 / 1100 * 100vw);
  }
}

@media (max-width: 700px) {
  .container {
    height: 60vh;
    padding: 0vw 10.71875vw 0;
  }

  .bg {
    display: none;
  }
  .bg_mobile {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    display: block;
  }
  .line {
    width: 4px;
    height: 55px;
    bottom: 3.78125vw;
    margin-bottom: 9.46875vw;
  }
  .title {
    bottom: 3.78125vw;
    font-size: 36px;
  }
  p {
    bottom: 3.78125vw;
    font-size: 14px;
    br {
      display: none;
    }
  }
}
@media (width: 1024px) and (orientation: landscape) {
  .container {
    height: 70vh;
  }
}
</style>