<template>
  <div class="container" :id="'header'+config.id">
    <img class="bg" />
    <div class="big_wrap">
      <div class="top">
        <div class="social_wrap">
          <div class="title">社群</div>
          <div class="social_item">
            <a class="icon" href="javascript:void(0)" v-for="(item , key) in imgItem" :key="key">
              <img class="img" :src="item.img" />
            </a>
          </div>
        </div>
        <div class="newsletter_wrap">
          <div class="title">電子報</div>
          <div class="newsletter_item">
            <input class="input" type="text" placeholder="Your email address" />
            <div class="subscription">訂閱</div>
          </div>
        </div>
      </div>

      <div class="middle">
        <div class="sitemap_wrap" v-for="(item, key) in siteMap" :key="key">
          <div class="title">{{item.title}}</div>
          <div class="sitemap_item">
            <a href="javascript:void(0)">
              <p v-for="(item,key) in item.list" :key="key">{{item}}</p>
            </a>
          </div>
        </div>
      </div>

      <div class="bottom">
        <div class="item item1">
          <a class="logo" href="javascipt:void(0)">
            <img class="img" :src="img" alt />
          </a>
          <div class="box">
            <div class="title">公司</div>
            <p>APRO+ WEB DESIGN</p>
          </div>
        </div>
        <div class="item item2">
          <div class="box">
            <div class="title">住址</div>
            <p>
              台中市北屯區中清路二段
              <br />363巷22號
            </p>
          </div>
          <div class="box">
            <div class="title">信箱</div>
            <a href="apro_design@gmail.com">
              <p>apro_design@gmail.com</p>
            </a>
          </div>
        </div>
        <div class="item item3">
          <div class="box">
            <div class="title">聯繫</div>
            <div class="model">
              <a href="tel:04-22969898">
                <p>
                  T
                  <br />+886 4
                  <br />2296-9898
                </p>
              </a>
              <a href="tel:04-22969898">
                <p>
                  T
                  <br />+886 4
                  <br />2296-6767
                </p>
              </a>
            </div>
          </div>
        </div>
        <div class="item item4">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d91203.79817411551!2d120.76515470568708!3d24.05948983727539!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693ac6bbdcc543%3A0x732d62b3fdd5e662!2zOTIx5Zyw6ZyH5pWZ6IKy5ZyS5Y2A!5e0!3m2!1szh-TW!2stw!4v1648440964693!5m2!1szh-TW!2stw"
            style="border:0;"
            allowfullscreen
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        <div class="scroll_top" @click="clickScroll()">
          <p>TOP</p>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="left">
        <div class="item">
          <p>© 2022 APRO+ Web Design</p>
        </div>
        <div class="item">
          <a href="javascript:void(0)">
            <p>Designed by APRO+</p>
          </a>
        </div>
      </div>
      <div class="right">
        <p>建議使用Chrome、Firefox、Safari最新版本瀏覽</p>
        <p>
          <span></span> 採用全球最先進SSL 256bit 傳輸加密機制
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    config: {
      type: Object,
    },
  },
  data() {
    return {
      img: require('@/assets/img/logo.png'),
      imgItem: [
        {
          url: '/about',
          img: require('@/assets/img/social1.png'),
          title: 'Home',
        },
        {
          url: '/projects',
          img: require('@/assets/img/social2.png'),
          title: 'Projects',
        },
        {
          url: '/contact',
          img: require('@/assets/img/social3.png'),
          title: 'Contact',
        },
        {
          url: '/about',
          img: require('@/assets/img/social4.png'),
          title: 'Home',
        },
        {
          url: '/projects',
          img: require('@/assets/img/social5.png'),
          title: 'Projects',
        },
      ],
      siteMap: [
        {
          title: '關於我們',
          list: ['關於我們', '歷史沿革'],
        },
        {
          title: '最新消息',
          list: ['活動訊息', '展場資訊'],
        },
        {
          title: '產品介紹',
          list: ['保濕', '化妝水', '乳液', '隔離霜'],
        },
        {
          title: '問與答',
          list: ['購物方式', '購物流程'],
        },
        {
          title: '相簿',
          list: [
            '相本分類',
            '相本分類',
            '相本分類',
            '相本分類',
            '相本分類',
            '相本分類',
          ],
        },
        {
          title: '下載專區',
          list: ['型錄下載', '規格下載'],
        },
        {
          title: '聯絡我們',
          list: ['關於我們', '歷史沿革'],
        },
        {
          title: '加入會員',
          list: ['加入會員', '修改密碼'],
        },
      ],
    }
  },
  methods: {
    clickScroll() {
      window.scroll({
        top: 0,
        behavior: 'smooth',
      })
    },
  },
}
</script>
<style lang="scss" scoped>
$main: #ffffff;
$second: #a4a4a4;
$bg-color: #14120f;
.container {
  position: relative;
  width: 100%;
  max-height: 48.4375vw;
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
    background: #252525;
    z-index: -1;
  }
  a {
    text-decoration: none;
  }
  .big_wrap {
    // height: 44.4vw;
    padding: 3.65vw 13.125vw 0;
  }
  .top {
    position: relative;
    height: 5.73vw;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.875vw;
    border-bottom: 1px solid #db212e;
    .social_wrap {
      display: flex;
      align-items: center;
      .title {
        margin-right: 1.5625vw;
        font-size: calc(18 / 1920 * 100vw);
        font-weight: bold;
        color: #ffffff;
      }
      .icon {
        &:first-child {
          .img {
            width: 9px;
          }
        }
        .img {
          width: 18px;
          height: auto;
          margin: 0 1.302vw;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .newsletter_wrap {
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      .title {
        margin-right: 1.3vw;
        font-size: calc(18 / 1920 * 100vw);
        font-weight: bold;
        color: #ffffff;
      }
      .newsletter_item {
        position: relative;
        width: 17.1875vw;
        height: 3.8vw;
        padding: 1.45vw 1.40625vw 1.51vw 1.09375vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #202020;
        border: 1px solid #db212e;
        border-radius: 6px;
        .input {
          width: 80%;
          background: transparent;
          font-size: calc(16 / 1920 * 100vw);
          color: #ffffff;
          height: auto;
          border: none;
          outline: none;
        }
        .subscription {
          font-size: calc(18 / 1920 * 100vw);
          color: #ffffff;
          cursor: pointer;
        }
      }
    }
  }
  .middle {
    padding-top: 1.82vw;
    padding-bottom: 4vw;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #777777;
    .title {
      margin-bottom: 2.08vw;
      font-size: calc(18 / 1920 * 100vw);
      font-weight: bold;
      letter-spacing: 0.9px;
      color: #ffffff;
    }
    .sitemap_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        margin-bottom: 10px;
        font-size: calc(16 / 1920 * 100vw);
        line-height: 1.25;
        color: #ffffff;
      }
    }
  }
  .bottom {
    position: relative;
    width: 100%;
    padding-top: 1.823vw;
    display: flex;
    justify-content: space-between;
    .item {
      .box {
        margin-bottom: 2.5vw;
      }
      .logo {
        width: 10.42vw;
        margin-bottom: 4.6375vw;
        display: inline-block;
        .img {
          max-width: 100%;
          height: auto;
        }
      }
      .title {
        margin-bottom: 1.40625vw;
        font-size: calc(18 / 1920 * 100vw);
        font-weight: bold;
        letter-spacing: 9px;
        color: #ededed;
      }
      p {
        font-size: calc(16 / 1920 * 100vw);
        letter-spacing: 0.8px;
        color: #a4a4a4;
      }

      &.item2 {
        p {
          line-height: 1.25;
        }
      }
      &.item3 {
        .title {
          margin-bottom: 1.25vw;
        }
        p {
          line-height: 1.25;
          margin-bottom: 1.5625vw;
        }
      }
      &.item4 {
        position: relative;
        right: 4.16vw;
        margin-bottom: 5.2vw;
        iframe {
          width: 17.44vw;
          height: 10.15625vw;
        }
      }
    }
    .scroll_top {
      position: absolute;
      width: 3.125vw;
      right: -1.04vw;
      top: 1.66vw;
      z-index: 1;
      p {
        font-size: calc(16 / 1920 * 100vw);
        font-weight: bold;
        color: #db212e;
        transform: rotate(270deg);
        letter-spacing: 1px;
        cursor: pointer;
        transition: 0.5s ease;
        &::before {
          content: '';
          position: absolute;
          width: 2.65vw;
          height: 1px;
          background: #a0a0a0;
          left: -4.4vw;
          top: 0.36vw;
          transition: 0.5s ease;
        }
        &:hover {
          letter-spacing: 2px;
          transition: 0.5s ease;
          &::before {
            transition: 0.5s ease;
            left: -4.9vw;
          }
        }
      }
    }
  }
  .copyright {
    position: relative;
    // height: 4.01vw;
    padding: 1.82vw 12.125vw 1.3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1b1b1b;
    p {
      color: #a4a4a499;
      font-size: calc(14 / 1920 * 100vw);
      letter-spacing: 0.7px;
      font-weight: normal;
      opacity: 0.6;
    }
    .left {
      position: relative;
      left: 1.04vw;
      display: flex;
      align-items: center;
      .item {
        &:first-child {
          margin-right: 1.25vw;
        }
      }
    }
    .right {
      position: absolute;
      right: 12.125vw;
      display: flex;
      span {
        width: 10px;
        height: 10px;
        display: inline-block;
        -webkit-mask: url('@/assets/img/lock.svg') no-repeat;
        -webkit-mask-size: contain;
        background: #d0d0d0;
      }
      p {
        &:first-child {
          margin-right: 15px;
        }
      }
    }
  }
}
@media (max-width: 1500px) {
  .container {
    .bottom {
      .scroll_top {
        top: 1.73vw;
      }
      .item {
        &.item4 {
          margin-bottom: 4.2vw;
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .container {
    height: auto;
    max-height: 100%;
    .big_wrap {
      padding: 4.65vw calc(55 / 768 * 100vw) 0;
    }

    .top {
      padding-bottom: 2.875vw;
      .social_wrap {
        .title {
          font-size: calc(18 / 1100 * 100vw);
        }
      }
      .newsletter_wrap {
        position: relative;
        .title {
          margin-right: 2.3vw;
          font-size: calc(18 / 1100 * 100vw);
        }
        .newsletter_item {
          width: 25.1875vw;
          height: 5.8vw;
          .input {
            font-size: calc(16 / 1100 * 100vw);
          }
          .subscription {
            font-size: calc(18 / 1100 * 100vw);
          }
        }
      }
    }
    .middle {
      flex-wrap: wrap;
      padding-top: 3.82vw;
      .sitemap_wrap {
        width: 25%;
        margin-bottom: 30px;
      }
      .title {
        font-size: calc(18 / 1920 * 100vw);
      }
    }
    .bottom {
      padding-top: 2.823vw;
      flex-wrap: wrap;
      .item {
        width: 50%;
        .title {
          font-size: calc(18 / 1100 * 100vw);
          margin-bottom: 2.40625vw;
        }
        .logo {
          width: 40%;
          margin-bottom: 6.4375vw;
        }
        p {
          font-size: calc(16 / 1100 * 100vw);
        }
        &.item1 {
          width: 100%;
          margin-bottom: 3.90625vw;
          order: 1;
        }
        &.item2 {
          position: relative;
          top: -11.71875vw;
          order: 3;
          .box {
            &:first-child {
              margin-bottom: 6.25vw;
            }
          }
        }
        &.item3 {
          order: 2;
          .title {
            margin-bottom: 2.40625vw;
          }

          .model {
            display: block;
            p {
              margin-right: 20px;
            }
          }
        }
        &.item4 {
          right: 0;
          order: 4;
          iframe {
            width: 100%;
            height: 200px;
          }
        }
      }
      .scroll_top {
        top: 4.1875vw;
      }
    }
    .copyright {
      padding: 2.82vw calc(55 / 768 * 100vw) 3.3vw;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .left {
        margin-bottom: 15px;
      }
      .right {
        position: relative;
        right: 0;
        p {
          &:first-child {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .container {
    height: auto;
    .big_wrap {
      padding: 40px 37px 0;
    }
    .top {
      height: auto;
      padding-bottom: 0;
      flex-direction: column;
      justify-content: initial;
      border: none;
      .social_wrap {
        flex-wrap: wrap;
        padding-bottom: 23px;
        border-bottom: 1px solid #db212e;
        .title {
          width: 100%;
          margin-bottom: 30px;
          font-size: 14px;
        }
        .social_item {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      .newsletter_wrap {
        padding-top: 26px;
        flex-wrap: wrap;
        .title {
          width: 100%;
          margin-bottom: 20px;
          font-size: 14px;
        }
        .newsletter_item {
          width: 100%;
          height: 60px;
          padding: 24px 1.40625vw 24px 1.09375vw;
          .input {
            font-size: 16px;
          }
          .subscription {
            font-size: 18px;
          }
        }
      }
    }
    .middle {
      padding-top: 23px;
      padding-bottom: 38px;
      flex-wrap: wrap;
      .title {
        font-size: 14px;
        margin: 0;
        padding: 15px 0;
      }
      .sitemap_wrap {
        width: 40%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        margin-bottom: 0;
        &:last-child {
          border: none;
          .title {
            padding: 15px 0 0;
          }
        }
        &:nth-last-child(2) {
          border: none;
          .title {
            padding: 15px 0 0;
          }
        }
        .sitemap_item {
          display: none;
        }
      }
    }
    .bottom {
      padding-top: 40px;
      flex-wrap: wrap;
      .item {
        width: 100%;
        margin-bottom: 44px;
        .title {
          font-size: 14px;
          margin-bottom: 15px;
        }
        .logo {
          width: 100%;
          margin-bottom: 11.4375vw;
        }
        p {
          font-size: 14px;
        }
        .box {
          margin-bottom: 0;
        }
        &.item1 {
          width: 100%;
          margin-bottom: 44px;
          order: 1;
        }
        &.item2 {
          position: relative;
          top: 0;
          order: 2;
          p {
            line-height: 1.43;
          }
          .box {
            &:first-child {
              margin-bottom: 44px;
            }
          }
        }
        &.item3 {
          order: 3;
          .title {
            margin-bottom: 5.40625vw;
          }

          .model {
            display: flex;
            p {
              margin-right: 50px;
            }
          }
        }
        &.item4 {
          right: 0;
          order: 4;
          iframe {
            width: 100%;
            height: 200px;
          }
        }
      }
      .scroll_top {
        top: auto;
        bottom: -80px;
        p {
          font-size: 16px;
          &::before {
            width: 51px;
            left: -65px;
            top: 8px;
          }
          &:hover {
            &::before {
              left: -70px;
            }
          }
        }
      }
    }
    .copyright {
      padding: 35px 37px 53px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        font-size: 14px;
        line-height: 1.5;
      }
      .left {
        margin-bottom: 25px;
        flex-wrap: wrap;
        .item {
          width: 100%;
        }
      }
      .right {
        position: relative;
        right: 0;
        flex-wrap: wrap;
        p {
          &:first-child {
            padding: 0 60px 0 0;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}
</style>
