<template>
  <div class="container" :id="'header'+config.id">
    <div class="wrap">
      <img src="https://picsum.photos/1920/780/?random=1" alt class="bg" />
      <img src="https://picsum.photos/700/1200/?random=1" alt class="bg_mobile" />
      <div class="box box1">
        <a href="javascript:void(0)">
          <img src="https://picsum.photos/185/50/?random=1" alt />
        </a>
      </div>
      <div class="box box2">
        <div class="item">
          <div class="title">公司</div>
          <p>APRO WEB DESIGN</p>
        </div>
        <div class="item">
          <div class="title">住址</div>
          <p>
            台中市北屯區中清路二段
            <br />362巷22號
          </p>
        </div>
      </div>
      <div class="box box3">
        <div class="item">
          <div class="title">信箱</div>
          <p>apro_design@gmail.com</p>
        </div>
        <div class="item">
          <div class="title">聯繫</div>
          <p>
            T
            <br />+8864
            <br />2296-9898
          </p>
          <p>
            F
            <br />+8864
            <br />2296-6767
          </p>
        </div>
      </div>
      <div class="box box4">
        <div class="item">
          <div class="title">社群</div>
          <a href="javascript:void(0)" class="social">
            <img src="https://picsum.photos/20/20/?random=1" alt />
          </a>
          <a href="javascript:void(0)" class="social">
            <img src="https://picsum.photos/20/20/?random=2" alt />
          </a>
          <a href="javascript:void(0)" class="social">
            <img src="https://picsum.photos/20/20/?random=3" alt />
          </a>
          <a href="javascript:void(0)" class="social">
            <img src="https://picsum.photos/20/20/?random=4" alt />
          </a>
          <a href="javascript:void(0)" class="social">
            <img src="https://picsum.photos/20/20/?random=5" alt />
          </a>
        </div>
      </div>
      <!-- class加hide判斷當left無資料middle置左 -->
      <div class="bottom_box">
        <div class="left">© 2020 APRO Web Design</div>
        <div class="middle">
          Designed by
          <a href="javascript:void(0)">APRO2.0+</a>
        </div>
        <div class="right">
          <div class="gotop"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    config: {
      type: Object,
    },
  },
}
</script>
<style lang="scss" scoped>
$main: #ffffff;
$second: #a4a4a4;
$bg-color: #14120f;
.wrap {
  position: relative;
  min-height: 40.625vw;
  padding: 10.416vw 13.28125vw 0;
  display: flex;
  flex-wrap: wrap;
  background: $bg-color;
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center;
  }
  .bg_mobile {
    display: none;
  }
  .box {
    position: relative;
    // flex: 1;
    img {
      width: 100%;
      max-width: 180px;
      height: auto;
    }
    &.box1 {
      width: 30%;
      height: fit-content;
      a {
        display: block;
      }
    }
    &.box2 {
      width: 23.33%;
    }
    &.box3 {
      width: 23.33%;
      .item {
        p {
          line-height: 1.25;
        }
      }
    }
    &.box4 {
      width: 23.33%;
      .item {
        .title {
          margin-bottom: 20px;
        }
      }
      .social {
        width: 25px;
        margin-right: 30px;
        display: inline-block;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .item {
      margin-bottom: 67px;
      .title {
        margin-bottom: 15px;
        color: $main;
        font-size: 18px;
      }
      p {
        margin-bottom: 25px;
        color: $second;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.8px;
      }
    }
  }
  .bottom_box {
    position: relative;
    width: 100%;
    height: 9.1145vw;
    padding-top: 30px;
    display: flex;
    border-top: 1px solid $second;
    &.hide {
      .middle {
        padding-left: 0;
      }
    }
    .left {
      width: 48%;
      min-width: 200px;
      font-size: 16px;
      color: $second;
      letter-spacing: 0.8px;
    }
    .middle {
      width: 48%;
      min-width: 200px;
      padding-left: 3.9458vw;
      font-size: 16px;
      color: $second;
      letter-spacing: 0.8px;
      a {
        color: $second;
        text-decoration: none;
        transition: 0.35s ease;
        &:hover {
          color: $main;
          transition: 0.35s ease;
        }
      }
    }
    .right {
      position: absolute;
      width: 4%;
      right: 0;
      .gotop {
        position: relative;
        width: 20px;
        height: 20px;
        bottom: 5px;
        color: #5334a7;
        -webkit-mask: url('@/assets/img/navigation.png') no-repeat;
        -webkit-mask-size: contain;
        background: #000000;
        transform: rotate(90deg);
        cursor: pointer;
        transition: 0.35s ease;
        &:hover {
          font-size: 36px;
          transition: 0.35s ease;
        }
      }
    }
  }
}
@media (max-width: 1500px) {
  .wrap {
    .box {
      &.box1 {
        width: 100%;
        margin-bottom: 30px;
      }
      &.box2 {
        width: 33.33%;
      }
      &.box3 {
        width: 33.33%;
        br {
          display: none;
        }
        .item {
          p {
            margin-bottom: 10px;
          }
        }
      }
      &.box4 {
        width: 33.33%;
      }
    }
    .bottom_box {
      .middle {
        padding-left: 0;
      }
    }
  }
}
@media (max-width: 1100px) {
  .wrap {
    min-height: 65vh;
    padding: 5.416vw 13.28125vw 0;
    .box {
      .item {
        margin-bottom: 35px;
      }
      &.box1 {
        margin-bottom: 0;
      }
      &.box2 {
        width: 50%;
      }
      &.box3 {
        width: 50%;

        br {
          display: none;
        }
        .item {
          p {
            margin-bottom: 10px;
          }
        }
      }
      &.box4 {
        width: 50%;
      }
    }
    .bottom_box {
      height: 12.1145vw;
      flex-wrap: wrap;
      &.hide {
        .middle {
          text-align: left;
        }
      }
      .left {
        width: 50%;
      }
      .middle {
        width: 50%;
        text-align: right;
      }
      .right {
        position: relative;
        width: 100%;
        margin-top: 30px;
        text-align: right;
      }
    }
  }
}
@media (max-width: 700px) {
  .wrap {
    min-height: auto;
    padding: 20.416vw 13.28125vw 9.416vw;
    .bg {
      background-size: 0;
    }
    .bg_mobile {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0;
      object-fit: cover;
      object-position: center;
      display: block;
    }
    .box {
      .item {
        margin-bottom: 50px;
        .title {
          margin-bottom: 10px;
          font-size: 16px;
        }
        p {
          font-size: 14px;
        }
      }
      &.box1 {
        width: 100%;
        margin-bottom: 50px;
      }
      &.box2 {
        width: 100%;
      }
      &.box3 {
        width: 100%;

        br {
          display: none;
        }
        .item {
          p {
            margin-bottom: 10px;
          }
        }
      }
      &.box4 {
        width: 100%;
      }
    }
    .bottom_box {
      height: auto;
      .left {
        width: 100%;
        margin-bottom: 15px;
        font-size: 14px;
      }
      .middle {
        width: 100%;
        font-size: 14px;
      }
      .right {
        width: 100%;
      }
    }
  }
}
</style>
