<template>
  <div>
    <div v-for="(item , key) in moduleItem" :key="key">
      <CarouselMd v-if="item.name =='Carousel'" :config="item" />
      <InformationMd v-if="item.name =='Information'" :config="item" />
      <ProductMd v-if="item.name =='Product'" :config="item" />
      <RecommendMd v-if="item.name =='Recommend'" :config="item" />
      <ScenesMd v-if="item.name =='Scenes'" :config="item" />
      <RecruitMd v-if="item.name =='Recruit'" :config="item" />
      <AboutMd v-if="item.name =='About'" :config="item" />
      <RewardsMd v-if="item.name =='Rewards'" :config="item" />
      <PartnerMd v-if="item.name =='Partner'" :config="item" />
      <HistoryMd v-if="item.name =='History'" :config="item" />
      <DownloadMd v-if="item.name =='Download'" :config="item" />
      <HeaderMd v-if="item.name =='Header'" :config="item" />
      <FooterMd v-if="item.name =='Footer'" :config="item" />
    </div>
    <!-- <TestMd /> -->
  </div>
</template>

<script>
import CarouselMd from '/modules/Carousel/index.vue'
import ProductMd from '/modules/Product/index.vue'
import RecommendMd from '/modules/Recommend/index.vue'
import InformationMd from '/modules/Information/index.vue'
import ScenesMd from '/modules/Scenes/index.vue'
import RecruitMd from '/modules/Recruit/index.vue'
import AboutMd from '/modules/About/index.vue'
import RewardsMd from '/modules/Rewards/index.vue'
import PartnerMd from '/modules/Partner/index.vue'
import HistoryMd from '/modules/History/index.vue'
import DownloadMd from '/modules/Download/index.vue'
import HeaderMd from '/modules/Header/index.vue'
import FooterMd from '/modules/Footer/index.vue'
import TestMd from '/modules/Test/index.vue'
import webConfig from '/siteConfig.json'
export default {
  data() {
    return {}
  },
  computed: {
    moduleItem: function () {
      return webConfig.pages[0].modules
    },
  },
  mounted() {},
  components: {
    CarouselMd,
    ProductMd,
    RecommendMd,
    InformationMd,
    ScenesMd,
    RecruitMd,
    AboutMd,
    RewardsMd,
    PartnerMd,
    HistoryMd,
    DownloadMd,
    HeaderMd,
    FooterMd,
    TestMd,
  },
}
</script>
