<template>
  <!-- 符合所有規範 -->
  <div class="container" :id="'about'+config.id">
    <div v-swiper:mySwiper="swiperOption">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="(banner,index) in 3" :key="index">
          <!-- 背景1920*1050 -->
          <img class="bg" :src="img" alt />
          <!-- 手機背景700*1200 -->
          <img class="mobile_bg" :src="mobile_img" />
          <div class="text_wrap">
            <div class="text_item top">
              <div class="box1">
                <div class="number">01</div>
              </div>
              <div class="box2">
                <div class="title">關於我們</div>
                <div class="text">Create Infinite Possibility</div>
              </div>
            </div>
            <div class="text_item bottom">
              <p>我們的客戶將我們描述為一個顧問團隊，通過打造一流的用戶體驗來創建出色的設計。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination" :class="{ active: isPaActive }"></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    config: {
      type: Object,
    },
  },
  data() {
    return {
      // 背景
      img: require('@/assets/img/about/about01_bg.png'),
      // 手機背景
      mobile_img: 'https://picsum.photos/700/1200/?random=2',
      isActive: false,
      isPaActive: false,
      // 輪播設定
      swiperOption: {
        navigation: {
          nextEl: '#about' + this.config.id + ' .button-next',
          prevEl: '#about' + this.config.id + ' .button-prev',
          clickable: true,
        },
        pagination: {
          el: '#about' + this.config.id + ' .pagination',
          clickable: true,
          type: 'bullets',
          renderBullet: function (index, className) {
            return '<span class="' + className + '">' + (index + 1) + '</span>'
          },
        },
        slidesPerView: 1,
        speed: 1000,
        // autoplay: {
        //   delay: 3000,
        // },
      },
    }
  },
  methods: {
    init() {
      let lengths = this.mySwiper.slides.length
      lengths < 2 ? (this.isPaActive = true) : (this.isPaActive = false)
    },
    animateOnScroll() {
      const gsap = this.$gsap.timeline({
        scrollTrigger: {
          trigger: '#about' + this.config.id,
          toggleActions: 'restart pause restart reset',
        },
      })
      gsap
        .fromTo(
          '#about' + this.config.id + ' .text_wrap .top',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0
        )
        .fromTo(
          '#about' + this.config.id + ' .text_wrap .bottom',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0.4
        )
    },
  },
  mounted() {
    this.init()
    this.animateOnScroll()
  },
}
</script>

<style lang="scss" scoped>
.container {
  position: relative;
  height: 54.6875vw;
  font-family: 'Montserrat', sans-serif;
  // 背景
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }
  // 手機背景
  .mobile_bg {
    display: none;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    cursor: pointer;
  }
  .swiper-slide-active {
    .text_wrap {
      .text_item {
        &:first-child {
          .box1 {
            .number {
              transform: translateY(40%);
              transition: 1s 1s;
            }
          }
          .box2 {
            transition: 1s 1.5s;
            transform: initial;
            opacity: 1;
          }
        }
        p {
          transition: 1s 2s;
          transform: initial;
          opacity: 1;
        }
      }
    }
  }
  .text_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 22.9vw 15.625vw 0 38.125vw;
    .text_item {
      display: flex;
      &:first-child {
        align-items: flex-end;
        margin-bottom: 2.125vw;
        .box1 {
          position: relative;
          width: 18.75vw;
          bottom: 15px;
          overflow: hidden;
          .number {
            font-size: calc(200 / 1920 * 100vw);
            font-weight: bold;
            line-height: 1;
            transition: 1s 1s;
            transform: translateY(100%);
            color: #ffffff;
          }
        }
        .box2 {
          max-width: 28.05vw;
          transition: 1s 1.5s;
          transform: translateX(10px);
          opacity: 0;
          .title {
            margin-bottom: 10px;
            font-size: calc(22 / 1920 * 100vw);
            font-weight: bold;
            letter-spacing: 1.1px;
            color: #ffffff;
            line-height: 1.15;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            word-break: break-all;
          }
          .text {
            font-size: calc(70 / 1920 * 100vw);
            font-weight: bold;
            color: #ffffff;
            line-height: 1.15;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            word-break: break-all;
          }
        }
      }
      p {
        padding-left: 18.4vw;
        padding-right: 6.02vw;
        font-size: calc(18 / 1920 * 100vw);
        line-height: 2;
        text-align: justify;
        color: #ffffff;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: break-all;
        transition: 1s 2s;
        transform: translateY(-10px);
        opacity: 0;
      }
    }
  }
  .pagination {
    position: absolute;
    width: auto;
    height: auto;
    top: 34vw;
    left: calc(80 / 1920 * 100vw);
    transform: translateY(-50%);
    z-index: 1;
    &.active {
      display: none;
    }
    /deep/ .swiper-pagination-bullet {
      position: relative;
      width: 1.875vw;
      height: 1.875vw;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: initial;
      background: transparent;
      font-size: calc(18 / 1920 * 100vw);
      font-weight: 700;
      color: #fff;
      opacity: 1;
      transition: 0.5s;
      outline: none;
      cursor: pointer;
      &.swiper-pagination-bullet-active {
        transform: translateX(75%);
        &::before {
          transform: initial;
        }
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 1.14vw;
        height: 1px;
        top: 50%;
        right: 100%;
        background: #fff;
        transition: 0.5s;
        transform-origin: 100% 50%;
        transform: scaleX(0);
      }
    }
  }
}
@media (max-width: 1500px) {
}
@media (max-width: 1100px) {
  .container {
    height: 50vh;
    .text_wrap {
      padding: 24.9vw 15.625vw 0 38.125vw;
      .text_item {
        &:first-child {
          .box1 {
            bottom: 7px;
            margin-right: 5.5vw;
            .number {
              font-size: calc(100 / 1100 * 100vw);
            }
          }
          .box2 {
            .title {
              font-size: calc(22 / 1100 * 100vw);
            }
            .text {
              font-size: calc(35 / 1100 * 100vw);
            }
          }
        }
        p {
          padding-right: 0;
        }
      }
    }
    .pagination {
      top: 39vw;
      /deep/ .swiper-pagination-bullet {
        width: 2.875vw;
        height: 2.875vw;
        font-size: calc(18 / 1100 * 100vw);
        &::before {
          width: 2.14vw;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .container {
    height: 75vh;
    .bg {
      display: none;
    }
    .mobile_bg {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center;
    }
    .text_wrap {
      padding: 70.078vw 40px 0;
      .text_item {
        &:first-child {
          align-items: flex-start;
          margin-bottom: 7.125vw;
          .box1 {
            margin-right: 0;
            margin-bottom: 5.5vw;
            .number {
              font-size: 54px;
            }
          }
          .box2 {
            max-width: 80%;
            .title {
              font-size: 16px;
            }
            .text {
              font-size: 30px;
            }
          }
        }
        flex-direction: column;
        align-items: flex-start;
        p {
          padding: 0;
          font-size: 14px;
        }
      }
    }
    .pagination {
      left: auto;
      right: 40px;
      top: 45vh;
      /deep/ .swiper-pagination-bullet {
        width: 24px;
        height: 24px;
        font-size: 14px;
        &::before {
          width: 18px;
        }
      }
    }
  }
}
@media (width: 1024px) and (orientation: landscape) {
  .container {
    height: 80vh;
  }
}
@media (width: 1366px) and (orientation: landscape) {
}
</style>