<template>
  <!-- 符合所有規範 -->
  <div class="container" :id="'about'+config.id">
    <!-- 背景1920*1100 -->
    <img class="bg" :src="img" />
    <!-- 手機背景700*1200 -->
    <img class="mobile_bg" :src="mobile_img" />
    <div class="left">
      <div class="text_wrap">
        <div class="title">關於我們</div>
        <p>
          About
          <br />TCIA
        </p>
      </div>
      <div v-swiper:mySwiper="swiperOption">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="(item,index) in imgItem" :key="index">
            <!-- 左圖 size 950*700 -->
            <div class="img_wrap">
              <img class="img" :src="item.img" alt />
            </div>
          </div>
        </div>
      </div>
      <div class="pagination" :class="{ hide: isPaActive }"></div>
    </div>
    <div class="right">
      <div class="text_wrap">
        <div class="title">永續城市邁向未來</div>
        <p>
          面對全球暖化氣候加速變遷等挑戰，節能減碳、循環經濟已成為國家及城市施政的共識，高潭做為臺灣首都，借鏡多國經驗，挹注能源領域與循環經濟的創新發展推動能量。
          <br />
          <br />高潭市繼 2018 年提出循環城市推動計畫後，2019 年將提出能源政策綱領草案，完成擘畫城市資源循環及能源永續發展之政策藍圖，引領臺北市邁向永續城市的新里程碑。
        </p>
        <div class="button_item">
          <a class="link" href="javascript:void(0)">
            <span>了解更多</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    config: {
      type: Object,
    },
  },
  data() {
    return {
      // 背景
      img: require('@/assets/img/about/about01_bg.png'),
      imgItem: [
        {
          url: '/about',
          img: 'https://picsum.photos/1920/850/?random=1',
        },
        {
          url: '/projects',
          img: 'https://picsum.photos/1920/850/?random=2',
        },
        {
          url: '/contact',
          img: 'https://picsum.photos/1920/850/?random=3',
        },
        {
          url: '/about',
          img: 'https://picsum.photos/1920/850/?random=4',
        },
        {
          url: '/projects',
          img: 'https://picsum.photos/1920/850/?random=5',
        },
        {
          url: '/contact',
          img: 'https://picsum.photos/1920/850/?random=6',
        },
      ],
      // 手機背景
      mobile_img: 'https://picsum.photos/700/1200/?random=7',
      isActive: false,
      isPaActive: false,
      // 輪播設定
      swiperOption: {
        navigation: {
          nextEl: '#about' + this.config.id + ' .button-next',
          prevEl: '#about' + this.config.id + ' .button-prev',
          clickable: true,
        },
        pagination: {
          el: '#about' + this.config.id + ' .pagination',
          clickable: true,
          type: 'bullets',
        },
        slidesPerView: 1,
        effect: 'fade',
        speed: 600,
        // autoplay: {
        //   delay: 3000,
        // },
      },
    }
  },
  methods: {
    init() {
      let lengths = this.mySwiper.slides.length
      lengths < 2 ? (this.isPaActive = true) : (this.isPaActive = false)
    },
    animateOnScroll() {
      const gsap = this.$gsap.timeline({
        scrollTrigger: {
          trigger: '#about' + this.config.id,
          toggleActions: 'restart pause restart reset',
        },
      })
      gsap
        .fromTo(
          '#about' + this.config.id + ' .text_wrap .top',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0
        )
        .fromTo(
          '#about' + this.config.id + ' .text_wrap .bottom',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0.4
        )
    },
  },
  mounted() {
    this.init()
    this.animateOnScroll()
  },
}
</script>

<style lang="scss" scoped>
.container {
  position: relative;
  height: 57.291vw;
  padding: 10.15625vw 0 0;
  display: flex;
  justify-content: space-between;
  font-family: 'Heebo', sans-serif;
  &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    left: 32.5vw;
    top: 0;
    background: #c9c9c8;
  }
  // 背景
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    display: none;
  }
  // 手機背景
  .mobile_bg {
    display: none;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    cursor: pointer;
  }

  .left {
    position: relative;
    width: 50%;
    .text_wrap {
      position: absolute;
      top: -4.58vw;
      left: 16.3vw;
      z-index: 2;
      .title {
        margin-bottom: 1.35vw;
        font-size: calc(24 / 1920 * 100vw);
        font-weight: bold;
      }
      p {
        font-size: calc(72 / 1920 * 100vw);
        color: #ea260c;
        font-weight: bold;
      }
    }

    .swiper-slide {
      .img_wrap {
        width: 50vw;
        height: 36.71875vw;
        overflow: hidden;
        .img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          transform: scale(1.2);
          transition: 0.5s ease;
        }
      }
    }
    .swiper-slide-active {
      .img_wrap {
        .img {
          transform: scale(1);
          transition: 0.5s ease;
        }
      }
    }
  }
  .right {
    position: absolute;
    width: 34%;
    top: 16.4vw;
    right: 0;
    padding-bottom: 10.15625vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .text_wrap {
      position: relative;
      border-top: 1px solid #b9b9b9;
      padding-right: 11.0416vw;
      .title {
        font-size: calc(32 / 1920 * 100vw);
        font-weight: bold;
        padding-top: 1.14vw;
        margin-bottom: 1.5625vw;
        line-height: 1.15;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: break-all;
      }
      p {
        margin-bottom: 3.38vw;
        font-size: calc(18 / 1920 * 100vw);
        color: #939393;
        line-height: 1.67;
        text-align: justify;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        word-break: break-all;
      }
      //連結
      .link {
        position: relative;
        width: 14.5vw;
        height: 3.5vw;
        padding-left: 3.3vw;
        display: inline-block;
        font-size: calc(16 / 1920 * 100vw);
        font-weight: bold;
        border: 1px solid #a1a09e;
        line-height: 3.33vw;
        text-align: center;
        text-decoration: none;
        transition: 0.3s ease;
        cursor: pointer;
        &:hover {
          border: 1px solid #ea260c;
          transition: 0.3s ease;
          &::before {
            border: 1px solid #ffffff;
            transition: 0.3s ease;
            border-left: 0;
            border-bottom: 0;
          }
          &:after {
            background: #ffffff;
          }
          span {
            color: #ea260c;
            &::before {
              border: 1px solid #ea260c;
              background: #ea260c;
            }
          }
        }
        &:before {
          content: '';
          position: absolute;
          width: 0.83vw;
          height: 0.83vw;
          left: 1.45vw;
          top: 50%;
          border: 1px solid #161616;
          border-left: 0;
          border-bottom: 0;
          transform: rotate(45deg);
          margin-top: -0.364vw;
          transition: all 0.3s ease;
          z-index: 1;
        }
        &:after {
          content: '';
          position: absolute;
          width: 1.2vw;
          height: 1px;
          left: 0.78125vw;
          top: 50%;
          background: #161616;
          transition: all 0.3s ease;
        }
        span {
          color: #000000;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          word-break: break-all;
          &::before {
            content: '';
            border: 1px solid #a1a09e;
            position: absolute;
            width: 3.28125vw;
            height: 3.28125vw;
            border-radius: 50%;
            left: 0;
            background-color: transparent;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
  .pagination {
    position: absolute;
    width: 100%;
    left: auto;
    bottom: 7.5vw;
    text-align: center;
    z-index: 1;
    &.hide {
      display: none;
    }
    /deep/ .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      margin: 0 12px;
      border: 1px solid #000000;
      border-radius: 50%;
      background: transparent;
      opacity: 0.8;
      cursor: pointer;
      &:first-child {
        margin: 0 12px 0 0;
      }
      &.swiper-pagination-bullet-active {
        background: #000000;
      }
    }
  }
}
@media (max-width: 1500px) {
}
@media (max-width: 1100px) {
  .container {
    height: auto;
    padding: 13.02vw 7.16vw 50px;
    flex-wrap: wrap;
    &::after {
      display: none;
    }

    .left {
      width: 100%;
      min-height: 150px;
      padding-bottom: 9.02vw;
      .text_wrap {
        left: 4.55vw;
        top: -4.58vw;
        .title {
          margin-bottom: 10px;
          font-size: calc(24 / 1100 * 100vw);
        }
        p {
          font-size: calc(72 / 1100 * 100vw);
        }
      }
      .swiper-slide {
        top: 15px;
        .img_wrap {
          width: 100%;
          height: 52.08vw;
        }
      }
    }
    .right {
      position: relative;
      width: 100%;
      padding-bottom: 0;
      top: initial;
      .text_wrap {
        padding-top: 4.55vw;
        .title {
          margin-bottom: 2.5625vw;
          font-size: calc(32 / 1100 * 100vw);
        }
        p {
          margin-bottom: 9.11vw;
          font-size: calc(18 / 1100 * 100vw);
        }
        .link {
          width: 16.5vw;
          height: 4.7vw;
          padding-left: 4.3vw;
          line-height: 4.7vw;
          &::before {
            width: 1.83vw;
            height: 1.83vw;
            left: 1.45vw;
            margin-top: -0.864vw;
          }
          &::after {
            width: 2vw;
            left: 0.78125vw;
          }
          span {
            &::before {
              width: 4.28125vw;
              height: 4.28125vw;
            }
          }
        }
      }
    }
    .pagination {
      bottom: 3.5vw;
    }
  }
}
@media (max-width: 700px) {
  .container {
    padding: 19.02vw 37px 50px;
    .bg {
      display: none;
    }
    .mobile_bg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: block;
      object-fit: cover;
      object-position: center;
      z-index: -1;
    }
    .left {
      width: 100%;
      padding-bottom: 6.02vw;
      min-height: 100px;
      .text_wrap {
        left: 4.55vw;
        top: -4.58vw;
        .title {
          margin-bottom: 10px;
          font-size: 16px;
        }
        p {
          font-size: 30px;
        }
      }
      .swiper-slide {
        top: 25px;
        .img_wrap {
          width: 100%;
          height: 300px;
          .img {
            height: 80%;
          }
        }
      }
    }
    .right {
      min-height: 100px;
      .text_wrap {
        padding-top: 8.55vw;
        padding-right: 0;
        .title {
          margin-bottom: 4.5625vw;
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
        //連結
        .link {
          width: 120px;
          height: 34px;
          padding-left: 7.3vw;
          line-height: 34px;
          font-size: 16px;
          &:before {
            width: 10px;
            height: 10px;
            left: 2.95vw;
            margin-top: -1.564vw;
          }
          &:after {
            width: 2.7vw;
            left: 1.58125vw;
            transform: translateY(-50%);
          }
          span {
            font-size: 12px;
            &::before {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
    .pagination {
      bottom: 4.5vw;
    }
  }
}
@media (width: 1024px) and (orientation: landscape) {
  .container {
    height: 120vw;
  }
}
@media (width: 1366px) and (orientation: landscape) {
}
</style>